{% extends "base.html" %}
{% load static %}

{% block title %}Profile | Speak, Friend and Enter{% endblock %}

{% block content %}
  <div class="container py-5">
    <div class="text-center mb-4">
      <h1 class="display-4">User Profile</h1>
      <p class="lead">Welcome, {{ user.username }}!</p>
    </div>
  

  {% if user.profile %}
    <div class="mb-3">
    {% if "placeholder" in user.profile.avatar.url %}
      <img src="{% static 'images/avatar-placeholder.jpg' %}" alt="Placeholder avatar" class="rounded-circle" style="max-width: 150px;">
    {% else %}
      <img src="{{ user.profile.avatar.url }}" alt="{{ user.username }} avatar" class="rounded-circle" style="max-width: 150px;">
    {% endif %}
    </div>

    <p><strong>User type:</strong> {{ user.profile.get_user_type_display }}</p>
    <p><strong>Bio:</strong> {{ user.profile.bio }}</p>
    <div class="d-flex flex-wrap gap-2 align-items-center mb-3">
      {% if user == request.user %}
        <a href="{% url 'edit_profile' %}" class="btn btn-sm btn-warning">Edit Profile</a>
      {% endif %}

      {% if user.is_authenticated and user.profile.can_approve_profiles %}
        <form method="post" action="{% url 'toggle_approval' %}">
          {% csrf_token %}
          <input type="hidden" name="object_type" value="Profile">
          <input type="hidden" name="object_id" value="{{ user.profile.id }}">
          <button type="submit" name="approval_toggle"
                  class="btn btn-sm {% if user.profile.approved %}btn-danger{% else %}btn-success{% endif %}">
            {% if user.profile.approved %}Disapprove{% else %}Approve{% endif %}
          </button>
        </form>
      {% endif %}
    </div>
    <hr>

    <h2>Your Articles</h2>
    {% if user.profile.can_add_articles %}
      <a href="{% url 'add_article' %}" class="btn btn-success mb-3">Create New Article</a>
    {% endif %}
    {% if user.articles.all %}
      <ul class="list-group mb-3">
        {% for article in user.articles.all %}
          <li class="list-group-item bg-success">
            <a href="{% url 'article_detail' slug=article.slug %}" class="text-warning">
              {{ article.title }}
            </a>
            <small class="text-light">({{ article.get_status_display }}, {% if article.approved %}Approved{% else %}Pending Approval{% endif %})</small>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>You haven't written any articles yet.</p>
    {% endif %}

  {% else %}
    <p>No profile information available.</p>
  {% endif %}
  </div>
{% endblock %}
