{% extends "base.html" %}
{% load static %}

{% block title %}Welcome | Speak, Friend and Enter{% endblock %}

{% block content %}
  <div class="container-fluid py-5">
    <div class="text-center mb-4">
    <div class="mb-4">
      <h1 class="display-4">Welcome to Speak, Friend and Enter</h1>
      <p class="lead">A Fellowship For All Things Tolkien</p>
    </div>
    <div class="d-flex justify-content-center">
      <div class="bg-dark p-2 rounded">
        <img src="{% static 'images/forum-logo-hero.png' %}" class="img-fluid mx-auto d-block" alt="Forum Logo">
      </div>
    </div>
  </div>
{% endblock %}